Grid {
    borderColor: #cccccc;
    borderThickness: 4;
	borderStyle: outset;
	horizontalGap: 4;
	verticalGap: 4;
}

GridItem {
    verticalAlign: middle;
    borderColor: #cccccc;
    borderThickness: 1;
	borderStyle: inset;
	paddingBottom: 4;
	paddingLeft: 4;
	paddingRight: 4;
	paddingTop: 4;
}

.header {
    fontWeight: bold;
    fontSize: 12;
}