/* Copyright 2009 Mike Slinn (mslinn@mslinn.com)
 *
 * Mike Slinn licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * $Id: default.css 1132 2009-09-08 18:45:09Z mslinn $ */
 
 .bigBox {
     backgroundColor: #cccccc;
     borderThickness: 6;
     borderColor: #cccccc;
     borderStyle: solid;
}

Label {
    fontSize: 12;
}

Text {
    fontSize: 10;
}

GridItem {
    verticalAlign: middle;
}
